body {
	font-family: Monospace;
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}
			
#footer {
	border: dotted #ffffff 1px;
	background-image:url('../gfx/bg.jpg');
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;			
	padding:0px;
}
#header {
	border: dotted #ffffff 1px;
	background-image:url('../gfx/bg.jpg');
	position:absolute;
	top:0;
	color:#ffffff;
	width:100%;
	height:40px;			
	padding:0px;
}
.describtion {
	margin:8px;
}
#player {
	width:100%;
	height:30px;
	margin:auto;
}
a {
color: #ffff00;
    text-decoration: none;
}